:root {
	font-family: "Lucida Console";
	font-size: 12px;
}

body,
html {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

nav {
	font-size: 18px;
	height: 5%;
	width: 100%;

	display: flex;

	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 20px;

	background-color: gray;

	padding: 10px;
}

main {
	height: 95%;
	width: 100%;
	background-color: pink;

	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px;
}

form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.form-element {
	width: 40%;
	display: flex;
	flex-flow: row nowrap;

	align-items: center;
	justify-content: space-between;
}

.form-element > input {
	width: 200px;
}

.v-form-element {
	width: 40%;
	display: flex;
	flex-flow: column nowrap;

	align-items: start;
	justify-content: space-between;
}

#catalogue {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;

	gap: 10px;
}

.product-card {
	display: flex;
	flex-flow: column nowrap;

	max-width: 300px;
	max-height: 300px;
	width: 300px;
	height: 300px;
	overflow-y: auto;

	border: 1px solid black;
	border-radius: 12px;
	padding: 4px;

	background-color: white;
}

.product-card > img {
	max-height: 100px;
	max-width: 200px;
}

#catalogue-items {
	display: flex;
	flex-flow: row wrap;
	gap: 20px;
}
